<section id="introduce" class="section zoom-in">
    <h2 class="title">
        INTRODUCE
    </h2>
    <div class="introduce-content">
        <div class="card">
            <p>현재 <mark>군산대학교 소프트웨어학부(컴퓨터정보공학)</mark>에 재학 중이며 <br>인공지능이 미래 사회에 미치는 영향에 대해 관심을 가지고 알아보고 있습니다.</p>
            <p>개발 실력 향상 및 IT 분야에 대한 흥미를 키우기 위해 <br>알고리즘 스터디와 세미나 등의 다양한 프로그래밍 활동에 참여했으며, <br>끊임없이 고민하고 배우며 성장하고 있습니다.</p>
        </div>
        <div class="card">
            <h3 class="card-title">WORK</h3>
            <ul class="work-list">
                <li><strong>업무 효율</strong>과 <strong>편의성</strong> 향상을 추구합니다.</li>
                <li><strong>과정에서의 재미</strong>를 중요시하며, <strong>목표 달성</strong>에도 집중합니다.</li>
                <li><strong>문제 발생</strong> 시, <strong>합리적인 타협</strong>을 통해 <strong>해결책</strong>을 찾습니다.</li>
                <li><strong>정해진 기간 준수</strong>에 노력합니다.</li>
            </ul>
        </div>
    </div>
</section>
