<section id="timeline" class="section">
    <div class="timeline-container">
        <div class="timeline-line"></div>
        <div class="timeline-year" style="left: 0%;">2020</div>
        <div class="timeline-year" style="left: 20%;">2021</div>
        <div class="timeline-year" style="left: 40%;">2022</div>
        <div class="timeline-year" style="left: 60%;">2023</div>
        <div class="timeline-year" style="left: 80%;">2024</div>
        <div class="timeline-year" style="left: 100%;">2025</div>
        <div class="timeline-event" style="left: 21%;" data-duration="1">
            <div class="timeline-dot" data-duration="1"></div>
            <div class="timeline-label">대학(컴퓨터정보과)</div>
        </div>
        <div class="timeline-event" style="left: 58%;" data-duration="2">
            <div class="timeline-dot" data-duration="2"></div>
            <div class="timeline-label">개발자(백엔드/웹)</div>
        </div>
        <div class="timeline-event" style="left: 81%;" data-duration="3">
            <div class="timeline-dot" data-duration="3"></div>
            <div class="timeline-label">대학(소프트웨어학부 컴퓨터정보공학전공)</div>
        </div>
    </div>
</section>
