/* Footer */
.footer {
  background-color: #0b0b0b;
  color: #ffffff63;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

.footer a {
  color: #ffffff63;
  text-decoration: none;
  margin-left: 10px;
}

.footer a:hover {
  color: #ffeb3b79;
  transition: color 0.3s;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.footer-link {
  background-color: #222222;
  color: #ffeb3b;
  padding: 8px 16px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s;
}

.footer-link:hover {
  background-color: #333;
}
